@import '/src/colors.scss';

.shopButton {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: $primaryColor;
  border: 0.5rem solid $secondaryColor;
  color: $secondaryColor;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.15s;
  z-index: 3;

  &:hover {
    background-color: $secondaryColor;
    border-color: $primaryColor;
    color: $primaryColor;
  }
}

.shopLink {
  border-radius: 5rem;
}
